/**
* Leadership Page
*/
.page {
	.container {
		.row {
			.key-three {
				margin: -15px -15px 0;
				padding: 15px;
				background-color: $red;
				
				a, p {
					color: $white;
				}

				h2, h3 {
					color: $white;
					font-weight: bold;
				}

				h2 {
					margin-bottom: 0px;
				}

				h3 {
					margin-top: 0px;
				}

				.btn {
					border-color: $white;
					color: $white;
				}
				.btn:hover {
					background-color: lighten($red, 10%);
				}
			}
		}
	}
}