/**
 * Announcements
 */
.announcements {
  .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    .row {

      &.announcement-visual {
        .announcement {
          background-color: $white;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 300px;
        }
      }

      &.announcement-text {
        text-align: center;
        padding: ($padding-base-vertical * 8) 0;
        box-shadow: inset 0px $box-shadow-base $box-shadow-base (-$box-shadow-base) $gray, inset 0px (-$box-shadow-base) $box-shadow-base (-$box-shadow-base) $gray;

        &:last-child {
          box-shadow: inset 0px $box-shadow-base $box-shadow-base (-$box-shadow-base) $gray;
        }

        .lead {
          font-size: $font-size-h4;
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .container-fluid {
      .row {
        &.announcement-text {
          padding: ($padding-base-vertical * 10) 0;
        }
      }
    }
  }
}


/**
 * Announcements
 */
.announcement-2017-nls-portland {
  @include retina-image($filename: '/images/banners/nls-2017-portland', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
  background-position-y: center;
}
.announcement-2017-dylc-portland {
  @include retina-image($filename: '/images/banners/dylc-2017-portland', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
  background-position-y: center;
}
.announcement-2016-04-29-Operation-Arrow {
  @include retina-image($filename: '/images/announcements/2016-04-29-Operation-Arrow', $background-size: 200px, $extension: 'jpg', $retina-suffix: '@2x');
}
.announcement-2017-nls-tokyo {
  @include retina-image($filename: '/images/banners/nls-2017-tokyo', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
  background-position-y: center;
}