/**
 * NLATS
 */
.logo-nlats {
  @include retina-image($filename: '/images/logos/national-lodge-adviser-training-seminar', $background-size: 90px 85px, $extension: 'png', $retina-suffix: '@2x');
  background-repeat: none;
  height: 85px;
  width: 90px;
}

/**
 * NLS
 */
.logo-nls {
  @include retina-image($filename: '/images/logos/national-leadership-seminar', $background-size: 88px 85px, $extension: 'png', $retina-suffix: '@2x');
  background-repeat: none;
  height: 85px;
  width: 88px;
}

/**
 * Western Region
 */
.logo-western-region-white {
  @include retina-image($filename: '/images/logos/western-region-white', $background-size: 326px 200px, $extension: 'png', $retina-suffix: '@2x');
  background-repeat: none;
  height: 200px;
  width: 326px;
}

/**
 * Distinguished Service Award
 */
.logo-dsa {
  @include retina-image($filename: '/images/logos/dsa_ribbon', $background-size: 120px 156px, $extension: 'jpg', $retina-suffix: '@2x');
  background-repeat: none;
  height: 156px;
  width: 120px;
}

/**
 * E. Urner Goodman Camping Award
 */
.logo-camping {
  @include retina-image($filename: '/images/logos/eugcamping_plaque', $background-size: 125px 147px, $extension: 'jpg', $retina-suffix: '@2x');
  background-repeat: none;
  height: 147px;
  width: 125px;
}

/**
 * National Service Award
 */
.logo-nsa {
  @include retina-image($filename: '/images/logos/natservice_plaque', $background-size: 129px 186px, $extension: 'jpg', $retina-suffix: '@2x');
  background-repeat: none;
  height: 186px;
  width: 129px;
}