/**
 * Bootstrap navbar
 */
.navbar-fixed-top {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);

  .container {
    .navbar-header {
      .navbar-brand {
        @include retina-image($filename: '/images/logos/western-region', $background-size: contain, $extension: 'png', $retina-suffix: '@2x');
        background-repeat:no-repeat;
        background-position-y: center;
		background-size:contain;
        height: 40px;
        width: 200px;
        padding: 0;
        margin-top: ($navbar-padding-vertical / 2);
        border: none;
        color: inherit;
        text-decoration: none;
      }
      @media (min-width: $screen-sm-min) {
        .navbar-brand {
          width:240px;
        }
      }
    }
    ul.navbar-nav {
      > li {
        > a {
          border: none;
          color: inherit;
          text-decoration: none;
          padding-top: ($navbar-padding-vertical / 2);
          margin-top: ($navbar-padding-vertical / 2);
          padding-bottom: ($navbar-padding-vertical / 2);
          margin-bottom: ($navbar-padding-vertical / 2);

          &:hover {
            background: none;
          }
        }

        &:hover {
          > a {
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            background-color: fade-out($brand-primary, 0.8);
          }
        }
      }
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: darken($black, 10%);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 50px;
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: $gray;
            display: block;
            transition: 0.3s;
            border-bottom: 0px;
            white-space: nowrap;
            &:hover {
              color: $white;
            }
        }
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px !important;
        margin-left: 50px;
    }
    @media screen and (max-height: $screen-xs) {
      .sidenav {
          padding-top: 15px;
          a {font-size: 18px;}
      }
    }
  }
}