/**
 * Bootstrap navbar
 */
.navbar-fixed-top {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);

  .container {
    .navbar-header {
      .navbar-brand {
        @include retina-image($filename: '/images/logos/western-region', $background-size: 240px 40px, $extension: 'png', $retina-suffix: '@2x');
        height: 40px;
        width: 240px;
        padding: 0;
        margin-top: ($navbar-padding-vertical / 2);
        border: none;
        color: inherit;
        text-decoration: none;
      }
    }
    ul.navbar-nav {
      > li {
        > a {
          border: none;
          color: inherit;
          text-decoration: none;
          padding-top: ($navbar-padding-vertical / 2);
          margin-top: ($navbar-padding-vertical / 2);
          padding-bottom: ($navbar-padding-vertical / 2);
          margin-bottom: ($navbar-padding-vertical / 2);

          &:hover {
            background: none;
          }
        }

        &:hover {
          > a {
            -moz-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            background-color: fade-out($brand-primary, 0.8);
          }
        }
      }
    }
  }
}