/**
 * A single post
 */
main.post {
  margin: ($padding-base-vertical * 8) 0;

  .container {
    .row {
      .panel.post {
        background: $white;

        .panel-body {
          padding: $padding-base-vertical ($padding-base-horizontal * 2);
        }

        .panel-footer {
          background: $white;
          padding: $padding-base-vertical ($padding-base-horizontal * 2);
          text-transform: uppercase;
          color: $gray;
          font-weight: 400;
          font-size: floor($font-size-base * 0.8);
          margin-top: ($padding-base-vertical * 4);

          a {
            color: $gray;
            border-color: transparent;
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .container {
      .row {
        .panel.post {

        }
      }
    }
  }
}