---
layout: default
---
{% include banner.html %}
<main class="index">
  <div class="container">
    <div class="row highlight">
      <div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-6">
        <div class="well">
          <h4>NLS &amp; NLATS</h4>
          <div class="logo-nls visual"></div>
          <p>The National Leadership Seminar (NLS) is a weekend training program focusing on leadership development.</p>
          <a href="/programs/nls" class="btn btn-default">Learn More</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-6">
        <div class="well">
          <h4>2016 Western Region Chief</h4>
          <img src="/images/leadership/chief.jpg" srcset="/images/leadership/chief.jpg 2x" class="visual">
          <p>Joe Garcia</p>
          <a href="/leadership/chief" class="btn btn-default">Meet Joe</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-6">
        <div class="well">
          <h4>Calendar</h4>
          <i class="fa fa-calendar fa-4x visual"></i>
          <p>Get the latest scoop on events in the region.</p>
          <a href="/calendar" class="btn btn-default">Region Calendar</a>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <ul class="post-list">
            {% for post in site.posts %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
          {% endfor %}
        </ul>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
    </div>
  </div>
</main>