---
layout: default
---
<header class="banner cover overlay mountains">
  <div class="inner">
    <header>
      <h2><div class="logo-western-region-white"></div></h2>
    </header>
    <p>Welcome to the Western Region, Order of the Arrow</p>
    <footer>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <a href="{{ site.social.twitter }}" class="btn btn-default btn-block" target="_blank"><i class="fa fa-twitter"></i> Follow Us</a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="{{ site.social.facebook }}" class="btn btn-default btn-block" target="_blank"><i class="fa fa-facebook"></i> Like Us</a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="{{ site.social.instagram }}" class="btn btn-default btn-block" target="_blank"><i class="fa fa-instagram"></i> Follow Us</a>
        </div>
      </div>
    </footer>
  </div>
</header>

<main class="index">
  <section class="highlights">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="well">
            <h2>NLS</h2>
            <div class="visual">
              <div class="logo-nls"></div>
            </div>
            <p>The National Leadership Seminar (NLS) is a weekend training program focusing on leadership development.</p>
            <a href="{{ site.baseurl }}program/training/nls" class="btn btn-block btn-default">Learn about NLS</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="well">
            <h2>{{ site.time | date: "%Y" }} Western Region Chief<br>{{site.data.leadership.chief.first_name}} {{site.data.leadership.chief.last_name}}</h2>
            <div class="visual">
              <img src="{{ site.baseurl }}images/leadership/chief.jpg" srcset="{{ site.baseurl }}images/leadership/chief.jpg 2x" class="chief">
            </div>
            <p>Manué is from the Orange County Council in Aliso Viejo, CA. He is an Eagle Scout and Vigil Honor member of Wiatava Lodge.</p>
            <a href="{{ site.baseurl }}leadership/chief.html" class="btn btn-block btn-default">Meet {{site.data.leadership.chief.first_name}}</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="well">
            <h2>DYLC</h2>
            <div class="visual">
              <div class="logo-dylc"></div>
            </div>
            <p>The Developing Youth Leaders Conference (DYLC) focuses on the tools every adult needs to mentor and develop our outstanding youth leaders.</p>
            <a href="{{ site.baseurl }}program/training/dylc" class="btn btn-block btn-default">Learn about DYLC</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="posts">
    <header class="divider">
      <h3><span>Your Western Region</span></h3>
    </header>
    <div class="container">
      <div class="row grid" isotope-grid>
        {% for post in paginator.posts %}
          <div class="col-xs-12 col-sm-6 grid-item">
            <div class="panel post">
              <div class="panel-body">
                <h2>
                  <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <div class="post-date date">
                  <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ post.date | date: "%B %d, %Y" }}
                  </time>
                </div>
                {{ post.excerpt }}
                <div class="read-more">
                  <a href="{{ post.url }}" class="btn btn-block btn-default">Read More</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% include pagination.html %}
        </div>
      </div>
    </div>
  </section>
  <section class="announcements">
    <div class="container-fluid">
      <div class="row announcement-visual">
        <div class="col-xs-12">
          <a href="{{ site.baseurl }}program/training/nls">
            <div class="announcement announcement-2017-nls-portland"></div>
          </a>
        </div>
      </div>
      <div class="row announcement-text">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <h2>National Leadership Seminar</h2>
          <p class="lead">The Western Region has 2 upcoming NLS training opportunities: <br>October 8-10 in Portland and November 10-12 in Tokyo.</p>
          <a href="{{ site.baseurl }}program/training/nls" class="btn btn-lg btn-default">Learn More</a>
        </div>
      </div>

      <div class="row announcement-visual">
        <div class="col-xs-12">
          <a href="{{ site.baseurl }}program/training/dylc">
            <div class="announcement announcement-2017-dylc-portland"></div>
          </a>
        </div>
      </div>
      <div class="row announcement-text">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <h2>Developing Youth Leadership Conference</h2>
          <p class="lead">The Western Region has 1 upcoming DYLC training opportunity: <br>October 8-10 in Portland.</p>
          <a href="{{ site.baseurl }}program/training/dylc" class="btn btn-lg btn-default">Learn More</a>
        </div>
      </div>

      <div class="row announcement-visual">
        <div class="col-xs-12">
          <a href="//event.oa-bsa.org/events/jambo2017/" target="_blank">
            <div class="announcement announcement-2016-04-29-Operation-Arrow"></div>
          </a>
        </div>
      </div>
      <div class="row announcement-text">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <h2>Operation Arrow</h2>
          <p class="lead">Over 750 youth Arrowmen will serve on one of three primary OA program areas at the 2017 National Scout Jamboree: the Service Corps, the Trek Guides and the Indian Village.</p>
          <a href="http://event.oa-bsa.org/events/jambo2017/" class="btn btn-lg btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </section>
</main>