/**
 * Region Training page
 */
.page-content {
  .training {
    .row {
      .nls, .nlats, .dylc {
        text-align: center;

        .visual {
          margin: $padding-base-vertical auto;
          display: block;
          text-align: center;
          height: 85px;

          .logo-nls, .logo-nlats, .logo-dylc {
            margin: 0 auto;
          }

          .logo-dylc {
            height: 60px;
            width: 242px;
          }
        }
      }
    }
  }
}