/**
 * Region Training page
 */
.page-content {
  .training {
    .row {
      .nls, .nlats, .dylc {
        text-align: center;

        .visual {
          margin: $padding-base-vertical auto;
          display: block;
          text-align: center;

          .logo-nls, .logo-nlats, .logo-dylc {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
/**
 * Region Awards page
 */
.page-content {
  .awards {
    .row {
      .dsa, .camping, .JoshSain {
        text-align: center;

        .visual {
          margin: $padding-base-vertical auto;
          display: block;
          text-align: center;

          .logo-dsa, .logo-camping, .logo-JoshSain {
            margin: 0 auto;
          }
        }
      }
    }
  }
}