<header class="banner">
  <div class="inner">
    <header>
      <h2><div class="logo-western-region-white"></div></h2>
    </header>
    <p>Welcome to the Western Region, Order of the Arrow.</p>
    <footer>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <a href="{{ site.social.facebook }}" class="btn btn-default btn-block"><i class="fa fa-facebook"></i> Like Us</a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a href="{{ site.social.twitter }}" class="btn btn-default btn-block"><i class="fa fa-twitter"></i> Follow Us</a>
        </div>
      </div>
    </footer>
  </div>
</header>