<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-2 leadership">
        <h4><a href="{{ site.baseurl }}leadership">Leadership</a></h4>
        <nav>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}leadership/chief.html">Region Chief</a></li>
            <li><a href="{{ site.baseurl }}leadership/region-chairman.html">Region Chairman</a></li>
            <li><a href="{{ site.baseurl }}leadership/region-staff-adviser.html">Region Staff Adviser</a></li>
            <li><a href="{{ site.baseurl }}leadership">Section Chiefs</a></li>
          </ul>
        </nav>
        <h4><a href="{{ site.baseurl }}program/training">Training</a></h4>
        <nav>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}program/training/nls">NLS</a></li>
            <li><a href="{{ site.baseurl }}program/training/nlats">NLATS</a></li>
            <li><a href="{{ site.baseurl }}program/training/dylc">DYLC</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-2 training">
        <h4><a href="{{ site.baseurl }}sections">Sections</a></h4>
        <nav>
          <ul class="list-unstyled">
            {% for key in site.data.sections %}
              {% assign section = key[1] %}
              <li>
                <a href="{{ site.baseurl }}sections/{{ section.area }}{{ section.section }}.html">
                  W-{{ section.area }}{{ section.section }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-2 events">
        <h4><a href="{{ site.baseurl }}program/events">Events</a></h4>
        <nav>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}program/events">Region Gathering</a></li>
			<li><a href="{{ site.baseurl }}program/events">NOAC</a></li>
			<li><a href="{{ site.baseurl }}program/events">World Scout Jamboree</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-2 resources">
        <h4>Resources</h4>
        <nav>
          <ul class="list-unstyled">
		    <li><a href="{{ site.baseurl }}advisers">Adviser Area</a></li>
            <li><a href="{{ site.baseurl }}committee">Committee Area</a></li>
			<li><a href="{{ site.baseurl }}resources/jte.html">Journey To Excellence</a></li>
			<li><a href="{{ site.baseurl }}resources/links.html">OA Links</a></li>
            <li><a href="{{ site.baseurl }}resources/maps">Section & Region Maps</a></li>
            <li><a href="{{ site.baseurl }}tech-team">Tech Team Area</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-sm-4 col-md-offset-1 col-md-2 about-us">
        <h4>About Us</h4>
        <nav>
          <ul class="list-unstyled">
            <li><a href="{{ site.baseurl }}about-us">Region Profile</a></li>
            <li><a href="http://www.oa-bsa.org" target="_blank">Order of the Arrow</a></li>
            <li><a href="http://www.scouting.org" target="_blank">Boy Scouts of America</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 social">
        <a href="{{ site.social.facebook }}" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="{{ site.social.twitter }}" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="{{ site.social.instagram }}" class="intagram" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 description">
         {{ site.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 copyright">
        &copy; {{ site.time | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>
<footer id="edit">
  <a href="{{site.github.repository_url}}/edit/master/{{page.path}}">Edit this page</a> -
  <a href="{{site.github.repository_url}}/issues">Report an Issue</a>
</footer>
{% include scripts.html %}