<div class="row">
  <div class="col-xs-12">
    <dl class="dl-horizontal">
      <dt>Area 1</dt>
      <dd>
        <p>
         {{ site.data.leadership.vice_chairman.area_1.first_name }} {{ site.data.leadership.vice_chairman.area_1.last_name }}
         {% if site.data.leadership.vice_chairman.area_1.email.size > 0 %}
           <br>
           <a href="mailto:{{ site.data.leadership.vice_chairman.area_1.email }}">{{ site.data.leadership.vice_chairman.area_1.email }}</a>
         {% endif %}
        </p>
      </dd>
      
      <dt>Area 2</dt>
      <dd>
        <p>
         {{ site.data.leadership.vice_chairman.area_2.first_name }} {{ site.data.leadership.vice_chairman.area_2.last_name }}
         {% if site.data.leadership.vice_chairman.area_2.email.size > 0 %}
           <br>
           <a href="mailto:{{ site.data.leadership.vice_chairman.area_2.email }}">{{ site.data.leadership.vice_chairman.area_2.email }}</a>
         {% endif %}
        </p>
      </dd>
      
      <dt>Area 3</dt>
      <dd>
        <p>
         {{ site.data.leadership.vice_chairman.area_3.first_name }} {{ site.data.leadership.vice_chairman.area_3.last_name }}
         {% if site.data.leadership.vice_chairman.area_3.email.size > 0 %}
           <br>
           <a href="mailto:{{ site.data.leadership.vice_chairman.area_3.email }}">{{ site.data.leadership.vice_chairman.area_3.email }}</a>
         {% endif %}
        </p>
      </dd>
      
      <dt>Area 4</dt>
      <dd>
        <p>
         {{ site.data.leadership.vice_chairman.area_4.first_name }} {{ site.data.leadership.vice_chairman.area_4.last_name }}
         {% if site.data.leadership.vice_chairman.area_4.email.size > 0 %}
           <br>
           <a href="mailto:{{ site.data.leadership.vice_chairman.area_4.email }}">{{ site.data.leadership.vice_chairman.area_4.email }}</a>
         {% endif %}
        </p>
      </dd>
      
      <dt>Area 6</dt>
      <dd>
        <p>
         {{ site.data.leadership.vice_chairman.area_6.first_name }} {{ site.data.leadership.vice_chairman.area_6.last_name }}
         {% if site.data.leadership.vice_chairman.area_6.email.size > 0 %}
           <br>
           <a href="mailto:{{ site.data.leadership.vice_chairman.area_6.email }}">{{ site.data.leadership.vice_chairman.area_6.email }}</a>
         {% endif %}
        </p>
      </dd>
      
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <dl class="dl-horizontal">
      <dt>Administration</dt>
      <dd>
        <p>
         {{ site.data.leadership.administration.first_name }} {{ site.data.leadership.administration.last_name }}<br>
          <a href="mailto:{{ site.data.leadership.administration.email }}">{{ site.data.leadership.administration.email }}</a>
        </p>
      </dd>

      <dt>Comms &amp; Tech</dt>
      <dd>
        <p>
         {{ site.data.leadership.communications_and_technology.first_name }} {{ site.data.leadership.communications_and_technology.last_name }}<br>
          <a href="mailto:{{ site.data.leadership.communications_and_technology.email }}">{{ site.data.leadership.communications_and_technology.email }}</a>
        </p>
      </dd>

      <dt>Conclave Training</dt>
      <dd>
        <p>
         {{ site.data.leadership.conclave_training.first_name }} {{ site.data.leadership.conclave_training.last_name }}<br>
          <a href="mailto:{{ site.data.leadership.conclave_training.email }}">{{ site.data.leadership.conclave_training.email }}</a>
        </p>
      </dd>
      
      <dt>Finance</dt>
      <dd>
        <p>{{ site.data.leadership.finance.first_name }} {{ site.data.leadership.finance.last_name }}</p>
      </dd>

      <dt>Trading Post</dt>
      <dd>
        <p>
         {{ site.data.leadership.trading_post.first_name }} {{ site.data.leadership.trading_post.last_name }}<br>
          <a href="mailto:{{ site.data.leadership.trading_post.email }}">{{ site.data.leadership.trading_post.email }}</a>
        </p>
      </dd>

      <dt>Training: NLS</dt>
      <dd>
        <p>
         {{ site.data.leadership.nls_coordinator.first_name }} {{ site.data.leadership.nls_coordinator.last_name }}<br>
          <a href="mailto:{{ site.data.leadership.nls_coordinator.email }}">{{ site.data.leadership.nls_coordinator.email }}</a>
        </p>
      </dd>

      <dt>Training: NLATS</dt>
      <dd>
        <p>
         {{ site.data.leadership.nlats_coordinator.first_name }} {{ site.data.leadership.nlats_coordinator.last_name }}<br>
          <a href="mailto:{{ site.data.leadership.nlats_coordinator.email }}">{{ site.data.leadership.nlats_coordinator.email }}</a>
        </p>
      </dd>

    </dl>
  </div>
</div>