<h1>
  Section W-{{ section.area }}{{ section.section }}
  {% if section.name.size > 0 %}
    - {{ section.name }}
  {% endif %}
</h1>
<div class="section">
  <div class="row leadership">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Youth Leadership
        </div>
        <ul class="list-group">
          <li class="list-group-item">
		    {% if section.leadership.chief.first_name.size > 0 and section.leadership.chief.last_name.size > 0 and section.leadership.chief.member_id.size > 0 %}
            <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.chief.member_id }}">
				<img src="{{ site.baseurl }}images/leadership/profiles/{{ section.leadership.chief.first_name }}%20{{ section.leadership.chief.last_name }}.jpg" onerror="this.src='http://western.oa-bsa.org/images/nophoto.gif'"/>
				<h2>Section Chief {{ section.leadership.chief.first_name }} {{ section.leadership.chief.last_name }}</h2>
			</a>
            {% else %}
              <em>Section Chief to be determined</em>
            {% endif %}
          </li>
          <li class="list-group-item">
		  {% if section.leadership.vice_chief.first_name.size > 0 and section.leadership.vice_chief.last_name.size > 0 and section.leadership.vice_chief.member_id.size > 0 %}
		  <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.vice_chief.member_id }}">
            Section Vice Chief
              {{ section.leadership.vice_chief.first_name }} {{ section.leadership.vice_chief.last_name }}</a>
            {% else %}
              <em>Section Vice Chief to be determined</em>
            {% endif %}
          </li>
          <li class="list-group-item">
		    {% if section.leadership.secretary.first_name.size > 0 and section.leadership.secretary.last_name.size > 0 and section.leadership.secretary.member_id.size > 0 %}
		    <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.secretary.member_id }}">
            Section Secretary
              {{ section.leadership.secretary.first_name }} {{ section.leadership.secretary.last_name }}</a>
            {% else %}
              <em>Section Secretary to be determined</em>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Adult Leadership
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            {% if section.leadership.adviser.first_name.size > 0 and section.leadership.adviser.last_name.size > 0 and section.leadership.adviser.member_id.size > 0 %}
			<a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.adviser.member_id }}">
				<img src="{{ site.baseurl }}images/leadership/profiles/{{ section.leadership.adviser.first_name }}%20{{ section.leadership.adviser.last_name }}.jpg" onerror="this.src='http://western.oa-bsa.org/images/nophoto.gif'"/>
				<h2>Section Adviser {{ section.leadership.adviser.first_name }} {{ section.leadership.adviser.last_name }}</h2>
			</a>
            {% else %}
              <em>Section Adviser to be determined</em>
            {% endif %}
          </li>
          {% for associate in section.leadership.associates %}
            <li class="list-group-item">
              <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ associate.member_id }}">
			  Section Associate Adviser {{ associate.first_name }} {{ associate.last_name }}</a>
            </li>
          {% endfor %}
          <li class="list-group-item">
            {% if section.leadership.staff_adviser.first_name.size > 0 and section.leadership.staff_adviser.last_name.size > 0 and section.leadership.staff_adviser.member_id.size > 0 %}
			<a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.staff_adviser.member_id }}">
			Section Staff Adviser
              {{ section.leadership.staff_adviser.first_name }} {{ section.leadership.staff_adviser.last_name }}</a>
            {% else %}
              <em>Section Staff Adviser TDB</em>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
	    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Section W-{{ section.area }}{{ section.section }} Lodges
        </div>
        <ul class="list-group">
          <div>
	      {% for lodge in lodges %}
		  <li class="list-group-item">
		     <a href="{{ lodge.website }}" target="_blank">{{ lodge.lodge_name }} Lodge #{{ lodge.lodge_number }}</a>
		  </li>
	      {% endfor %}
	</div>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Section Map</h3>
      <div class="text-center">
        <a href="{{ site.baseurl }}resources/maps/Maps/Sections/Section%20W-{{ section.area }}{{ section.section }}%203D.pdf"><img src="{{ site.baseurl }}images/sections/{{ section.area }}{{ section.section }}.gif" class="img-thumbnail"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
  <div class="row online">
    {% if section.website %}
      <div class="col-xs-12 {% if section.facebook and section.twitter %}col-md-4{% elsif section.facebook or section.twitter %}col-md-6{% endif %}">
        <a href="{{ section.website }}" target="_blank" class="btn btn-lg btn-default">
          <i class="fa fa-laptop"></i>
          Visit our Website
        </a>
      </div>
    {% endif %}
    {% if section.facebook %}
      <div class="col-xs-12 {% if section.website and section.twitter %}col-md-4{% elsif section.website or section.twitter %}col-md-6{% endif %}">
        <a href="{{ section.facebook }}" target="_blank" class="btn btn-lg btn-default">
          <i class="fa fa-facebook"></i>
          Follow us on Facebook
        </a>
      </div>
    {% endif %}
    {% if section.twitter %}
      <div class="col-xs-12 {% if section.website and section.facebook %}col-md-4{% elsif section.website or section.facebook %}col-md-6{% endif %}">
        <a href="{{ section.twitter }}" target="_blank" class="btn btn-lg btn-default">
          <i class="fa fa-twitter"></i>
          Follow us on Twitter
        </a>
      </div>
    {% endif %}
  </div>
</div>