<h1>
  Section W-{{ section.area }}{{ section.section }}
  {% if section.name.size > 0 %}
    - {{ section.name }}
  {% endif %}
</h1>

<section class="key-three">
  <div class="row">
    <div class="chief col-xs-12 col-sm-4">
      {% if section.leadership.chief.first_name.size > 0 and section.leadership.chief.last_name.size > 0 %}
        <h2>{{section.leadership.chief.first_name}} {{section.leadership.chief.last_name}}</h2>
      {% else %}
        <h2>TBD</h2>
      {% endif %}
	  	<h3>{{ site.time | date: "%Y" }} Section Chief</h3>
      <img src="{{ site.baseurl }}images/leadership/profiles/{{ section.leadership.chief.first_name }}%20{{ section.leadership.chief.last_name }}.jpg" onerror="this.src='http://western.oa-bsa.org/images/nophoto.gif'" class="img-responsive img-thumbnail">
      {% if section.leadership.chief.member_id.size > 0 %}
        <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.chief.member_id }}" class="btn btn-default btn-block visible-xs-block">
          Contact {{section.leadership.chief.first_name}} {{section.leadership.chief.last_name}}
        </a>
      {% endif %}
    </div>
    <div class="adviser col-xs-12 col-sm-4">
      {% if section.leadership.adviser.first_name.size > 0 and section.leadership.adviser.last_name.size > 0 %}
        <h2>{{section.leadership.adviser.first_name}} {{section.leadership.adviser.last_name}}</h2>
      {% else %}
        <h2>TBD</h2>
      {% endif %}
	  	<h3>Section Adviser</h3>
      <img src="{{ site.baseurl }}images/leadership/profiles/{{ section.leadership.adviser.first_name }}%20{{ section.leadership.adviser.last_name }}.jpg" onerror="this.src='http://western.oa-bsa.org/images/nophoto.gif'" class="img-responsive img-thumbnail">
      {% if section.leadership.adviser.member_id.size > 0 %}
        <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.adviser.member_id }}" class="btn btn-default btn-block visible-xs-block">
          Contact {{section.leadership.adviser.first_name}} {{section.leadership.adviser.last_name}}
        </a>
      {% endif %}
    </div>
    <div class="staff-adviser col-xs-12 col-sm-4">
      {% if section.leadership.staff_adviser.first_name.size > 0 and section.leadership.staff_adviser.last_name.size > 0 %}
        <h2>{{section.leadership.staff_adviser.first_name}} {{section.leadership.staff_adviser.last_name}}</h2>
      {% else %}
        <h2>TBD</h2>
      {% endif %}
	  	<h3>Section Staff Adviser</h3>
      <img src="{{ site.baseurl }}images/leadership/profiles/{{ section.leadership.staff_adviser.first_name }}%20{{ section.leadership.staff_adviser.last_name }}.jpg" onerror="this.src='http://western.oa-bsa.org/images/nophoto.gif'" class="img-responsive img-thumbnail">
      {% if section.leadership.staff_adviser.member_id.size > 0 %}
        <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.staff_adviser.member_id }}" class="btn btn-default btn-block visible-xs-block">
          Contact {{section.leadership.staff_adviser.first_name}} {{section.leadership.staff_adviser.last_name}}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-xs-12 col-sm-4">
      {% if section.leadership.chief.member_id.size > 0 %}
        <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.chief.member_id }}" class="btn btn-default btn-block">
          Contact {{section.leadership.chief.first_name}} {{section.leadership.chief.last_name}}
        </a>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4">
      {% if section.leadership.adviser.member_id.size > 0 %}
        <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.adviser.member_id }}" class="btn btn-default btn-block">
          Contact {{section.leadership.adviser.first_name}} {{section.leadership.adviser.last_name}}
        </a>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4">
      {% if section.leadership.staff_adviser.member_id.size > 0 %}
        <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.staff_adviser.member_id }}" class="btn btn-default btn-block">
          Contact {{section.leadership.staff_adviser.first_name}} {{section.leadership.staff_adviser.last_name}}
        </a>
      {% endif %}
    </div>
  </div>
</section>

<h2>Section Officers</h2>
<section class="leadership">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Youth Leadership
        </div>
        <ul class="list-group">
          <li class="vice-chief list-group-item">
            {% if section.leadership.vice_chief.first_name.size > 0 and section.leadership.vice_chief.last_name.size > 0 %}
              Section Vice Chief {{section.leadership.vice_chief.first_name}} {{section.leadership.vice_chief.last_name}}
              {% if section.leadership.vice_chief.member_id.size > 0 %}
                <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.vice_chief.member_id }}" class="contact"><i class="fa fa-envelope"></i></a>
              {% endif %}
            {% else %}
              <h2>TBD</h2>
            {% endif %}
          </li>
          <li class="secretary list-group-item">
            {% if section.leadership.secretary.first_name.size > 0 and section.leadership.secretary.last_name.size > 0 %}
              Section Secretary {{section.leadership.secretary.first_name}} {{section.leadership.secretary.last_name}}
              {% if section.leadership.secretary.member_id.size > 0 %}
                <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ section.leadership.secretary.member_id }}" class="contact"><i class="fa fa-envelope"></i></a>
              {% endif %}
            {% else %}
              <h2>TBD</h2>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    {% if section.leadership.associates.size > 0 %}
      <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Section Associate Advisers
          </div>
          <ul class="list-group">
            {% for associate in section.leadership.associates %}
              <li class="list-group-item">
                Section Associate Adviser {{ associate.first_name }} {{ associate.last_name }}
                {% if associate.member_id.size > 0 %}
                  <a href="{{ site.baseurl }}about-us/contact-us.html?member_id={{ associate.member_id }}" class="contact"><i class="fa fa-envelope"></i></a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
</section>

<section class="section-lodges">
  <div class="row">
	  <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Section W-{{ section.area }}{{ section.section }} Lodges
        </div>
        <ul class="list-group">
          <div>
	          {% for lodge in lodges %}
              <li class="list-group-item">
                {% if lodge.website.size > 0 %}
                  <a href="{{ lodge.website }}" target="_blank">{{ lodge.lodge_name }} Lodge</a>
                {% else %}
                  {{ lodge.lodge_name }} Lodge
                {% endif %}
              </li>
            {% endfor %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="online">
  <div class="row">
      {% if section.website.size > 0 %}
      <div class="col-xs-12 {% if section.facebook.size > 0 and section.twitter.size > 0 %}col-md-4{% elsif section.facebook.size > 0 or section.twitter.size > 0 %}col-md-6{% endif %}">
        <a href="{{ section.website }}" target="_blank" class="btn btn-lg btn-default">
          <i class="fa fa-laptop"></i>
          Visit our Website
        </a>
      </div>
	  {% endif %}
	  {% if section.facebook.size > 0 %}
      <div class="col-xs-12 {% if section.website.size > 0 and section.twitter.size > 0 %}col-md-4{% elsif section.website.size > 0 or section.twitter.size > 0 %}col-md-6{% endif %}">
        <a href="{{ section.facebook }}" target="_blank" class="btn btn-lg btn-default">
          <i class="fa fa-facebook"></i>
          Follow us on Facebook
        </a>
      </div>
	  {% endif %}
	  {% if section.twitter.size > 0 %}
      <div class="col-xs-12 {% if section.website.size > 0 and section.facebook.size > 0 %}col-md-4{% elsif section.website.size > 0 or section.facebook.size > 0 %}col-md-6{% endif %}">
        <a href="{{ section.twitter }}" target="_blank" class="btn btn-lg btn-default">
          <i class="fa fa-twitter"></i>
          Follow us on Twitter
        </a>
      </div>
	  {% endif %}
  </div>
</section>
