/**
 * Home page
 */
main.index {
  section.highlights {
    margin: ($padding-base-vertical * 8) 0;
    text-align: center;

    .container {
      .row {
        h4 {
          height: ($line-height-computed * 3);
          margin: ($padding-base-vertical * 2) 0;
        }

        .visual {
          margin: $padding-base-vertical auto;
          display: block;
          text-align: center;

          .logo-nls, .logo-dylc {
            margin: 0 auto;
          }

          .logo-dylc {
            height: 60px;
            width: 242px;
            padding-bottom: 15px;
          }

          .chief {
            height: 100%;
            width: 100%;
            max-height: 250px;
            max-width: 250px;
          }
        }
      }
    }
  }

  section.posts {
    margin: ($padding-base-vertical * 8) 0;

    .container {
      .row {
        .panel.post {
          background: $white;

          .panel-body {
            padding: ($padding-base-vertical * 2) ($padding-base-horizontal * 2);

            h2 {
              margin-top: 0;
              margin-bottom: 0;
            }

            .post-date {
              text-transform: uppercase;
              color: $gray;
              font-weight: 400;
              font-size: floor($font-size-base * 0.8);
              margin: ($padding-base-vertical * 2) 0;
            }
          }
        }
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    section.highlights {
      margin: ($padding-base-vertical * 12) 0;
    }
    section.posts {
      margin: ($padding-base-vertical * 12) 0;
    }
  }
}