/**
* Sections List Page
*/

.key-three, .leadership, .section-lodges {
	margin-bottom: 48px;

	.row {
		.chief, .adviser, .staff-adviser {
			text-align: center;

			img {
				max-height:200px;
			}
		}

		.panel {
			.list-group {
				.list-group-item {
					.contact {
						float: right;
					}
				}
			}
		}
	}
}

.online {
	margin-bottom: 24px;

	.row {
		.btn {
			display: block;

			.fa {
				font-size: 30px;
				display: block;
				margin: 12px auto;
			}
		}
	}
}