---
title:  "Leadership - Western Region, Order of the Arrow, Boy Scouts of America"
bannerClass: "firm-bound-in-brotherhood"
date:   2016-04-29 17:27 -0600
description: "Meet the leadership of the Western Region."
layout: page-with-banner
---

<section class="key-three">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
			<a href="chief.html">
	      <h2 class="text-center">{{site.data.leadership.chief.first_name}} {{site.data.leadership.chief.last_name}}</h2>
		  	<h3 class="text-center">{{ site.time | date: "%Y" }} Region Chief</h3>
			</a>
			<p class="text-center">The region chief is the youth leader of the region elected by the section chiefs from that region at the national planning meeting. He must be under 21 years of age during the entire term of office and will serve until a successor is elected. The election is held following the election of the national chief and national vice chief.</p>
      <a href="chief.html" class="btn btn-default btn-block visible-xs-block">Meet the Chief</a>
    </div>
    <div class="col-xs-12 col-sm-4">
			<a href="region-chairman.html">
	      <h2 class="text-center">{{site.data.leadership.chairman.first_name}} {{site.data.leadership.chairman.last_name}}</h2>
		  	<h3 class="text-center">Region Chairman</h3>
			</a>
			<p class="text-center">The volunteer leader in the region is the region Order of the Arrow chairman. Appointed annually by the region director, they are responsible for administering and monitoring the program regionally, with a special emphasis placed on their role as adviser to the region chief.</p>
      <a href="region-chairman.html" class="btn btn-default btn-block visible-xs-block">Meet the Chairman</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="region-staff-adviser.html">
				<h2 class="text-center">{{site.data.leadership.staff_adviser.first_name}} {{site.data.leadership.staff_adviser.last_name}}</h2>
     		<h3 class="text-center">Region Staff Adviser</h3>
      </a>
			<p class="text-center">The region staff adviser is appointed by the region director. They represent the region director in all Order of the Arrow operations within the region. Their duties include regular communication and counsel with the region chairman and region chief.</p>
      <a href="region-staff-adviser.html" class="btn btn-default btn-block visible-xs-block">Meet the Staff Adviser</a>
    </div>
  </div>
  <div class="row hidden-xs">
    <div class="col-xs-12 col-sm-4">
      <a href="chief.html" class="btn btn-default btn-block">Meet the Chief</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="region-chairman.html" class="btn btn-default btn-block">Meet the Chairman</a>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="region-staff-adviser.html" class="btn btn-default btn-block">Meet the Staff Adviser</a>
    </div>
  </div>
</section>

<h2>Section Officers</h2>
<div class="row officers">
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
			 Section Chiefs
			</div>
			<ul class="list-group">
			  {% for key in site.data.sections %}
					{% assign section = key[1] %}
					<a href="{{ site.baseurl }}sections/{{ section.area }}{{ section.section }}.html" class="list-group-item">
					<i class="fa fa-chevron-right"></i>
					<span class="hidden-xs">Section W-{{ section.area }}{{ section.section }}
						- led by </span>{{ section.leadership.chief.first_name }} {{ section.leadership.chief.last_name }}
					</a>
			  {% endfor %}
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
			 Section Advisers
			</div>
			<ul class="list-group">
			  {% for key in site.data.sections %}
					{% assign section = key[1] %}
					<a href="{{ site.baseurl }}sections/{{ section.area }}{{ section.section }}.html" class="list-group-item">
					<i class="fa fa-chevron-right"></i>
					<span class="hidden-xs">Section W-{{ section.area }}{{ section.section }}
						- advised by </span>{{ section.leadership.adviser.first_name }} {{ section.leadership.adviser.last_name }}
					</a>
			  {% endfor %}
			</ul>
		</div>
	</div>
</div>

<hr>

<h2>Region Committees</h2>
{% include region-committee.html %}

<hr>

<h2>National Committee</h2>
<div class="row national-committee">
	<div class="col-xs-12 col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
			 Committee Members
			</div>
			<ul class="list-group">
			  {% for committee_member in site.data.leadership.national_committee %}
					<li class="list-group-item">
					{{ committee_member.first_name }} {{ committee_member.last_name }}
					</li>
			  {% endfor %}
			</ul>
		</div>
	</div>
</div>

<hr>

<h2>Officer History</h2>
<p>The Western Region has a long history of exceptional youth and adult leaders.</p>
<a href="history"class="btn btn-default">View Officer History</a>