/**
* 2017 NLS and DYLC @ Salt Lake City Banner
*/
header.banner.nls-2017-salt-lake-city {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
    height: 400px;

    &::after {
      @include retina-image($filename: '/images/banners/nls-2017-salt-lake-city', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
      background-position-y: center;
    }
  }
}
header.banner.dylc-2017-salt-lake-city {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
    height: 400px;

    &::after {
      @include retina-image($filename: '/images/banners/dylc-2017-salt-lake-city', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
      background-position-y: center;
    }
  }
}

/**
* 2017 NLS and DYLC @ Portland Banner
*/
header.banner.nls-2017-portland {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;
    height: 400px;

    &::after {
      @include retina-image($filename: '/images/banners/nls-2017-portland', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
      background-position-y: top;
    }
  }
}

/**
* 2017 NLS @ Tokyo Banner
*/
header.banner.nls-2017-tokyo {
  display: none;

  @media (min-width: $screen-sm-min) {
    display: block;

    &::after {
      @include retina-image($filename: '/images/banners/nls-2017-tokyo', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
    }
  }
}

/**
* Fire with logo
*/
header.banner.fire-with-logo {
  height: 300px;

  &::after {
    @include retina-image($filename: '/images/banners/fire-with-logo', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
  }
}

/**
* Firm bound in brotherhood
*/
header.banner.firm-bound-in-brotherhood {
  height: 300px;

  &::after {
    background-color: $deep-purple;
    @include retina-image($filename: '/images/banners/firm-bound-in-brotherhood', $background-size: contain, $extension: 'jpg', $retina-suffix: '@2x');
  }
}

/**
* Mountains with logo
*/
header.banner.mountains-with-logo {
  height: 300px;

  &::after {
    @include retina-image($filename: '/images/banners/mountains-with-logo', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
  }
}

/**
* NLS Banner with Steve Jobs Quote
*/
header.banner.nls-steve-jobs-quote {
  height: 300px;

  &::after {
    background-color: #2d2a30;
    @include retina-image($filename: '/images/banners/nls-steve-jobs-quote', $background-size: contain, $extension: 'png', $retina-suffix: '@2x');
  }
}

/**
* Resources
*/
header.banner.resources {
  height: 300px;

  &::after {
    background-color: #000;
    @include retina-image($filename: '/images/banners/resources', $background-size: contain, $extension: 'jpg', $retina-suffix: '@2x');
  }
}

/**
* Trees
*/
header.banner.trees {
  height: 300px;

  &::after {
    @include retina-image($filename: '/images/banners/trees', $background-size: cover, $extension: 'jpg', $retina-suffix: '@2x');
  }
}