/**
 * Region Awards page
 */
.page-content {
  .awards {
    .row {
      .dsa, .camping, .JoshSain, .nsa, .nsg {
        text-align: center;

        .visual {
          margin: $padding-base-vertical auto;
          display: block;
          text-align: center;

          .logo-dsa, .logo-camping, .logo-JoshSain, .logo-nsa, .logo-nsg {
            margin: 0 auto;
          }
        }
      }
    }
  }
}