---
layout: default
---
<main class="post">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <article class="panel post" itemscope itemtype="http://schema.org/BlogPosting">
          <div class="panel-heading">
            <span class="post-date date">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <a href="{{ site.url }}{{ page.url }}">{{ page.date | date: "%B %d, %Y" }}</a>
              </time>
            </span>
            {% assign author = site.data.authors[page.author] %}
            {% if author %}
              <span class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">by
                <span itemprop="name">
                  {% if author.url %}
                    <a href="{{ author.url }}" target="_blank">
                  {% endif %}
                  {{ author.name }}
                  {% if author.url %}
                    </a>
                  {% endif %}
                </span>
              </span>
            {% endif %}
            {% if site.reading_time %}
              <span class="post-reading-time">
                <i class="fa fa-clock-o"></i>
                {% include read-time.html %}
              </span>
            {% endif %}
          </div>
          <div class="panel-body">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <div class="post-content" itemprop="articleBody">
              {{ content }}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</main>